<h1>Main#indexg</h1>
<p>Find me in app/views/main/indexg.html.erb</p>
<div class="container">
<table id = "asd" class="display" data-scource="<%=main_index_url(format:"json")%>">
  <thead>
	<th>Name</th>
	<th>Some</th>
	<th>Action</th>
  </thead>
  <tbody>
  </tbody>
</table>
<div class="modal fade" id="simple-modal"></div>
</div>